<!DOCTYPE html>
<html class="core">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Event badge</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/resources/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />

	<script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=default,fetch,Promise&amp;flags=gated"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="/resources/js/app.js"></script>
</head>
<body>

	{{{body}}}

</body>
</html>
