<!DOCTYPE html>
<html class="core">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Event badge</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>
		.attendee {
			font-size: 22px;
			color: #777;
		}
		.attendee .btn {
			float: right;
		}
		.attendee .checkmark {
			margin-right: 10px;
			opacity: 0;
			transition: opacity 1s ease;
		}
		.attendee .btn {
			display: none;
		}
		.attendee.checked-in {
			border-left: 8px solid #00d400;
			color: black;
		}
		.attendee.checked-in .checkmark {
			opacity: 1;
		}
		.attendee.checked-in .btn {
			display: block;
		}
		.btn.activity {
			opacity: 0.5;
			pointer-events: none;
			user-select: none;
		}
	</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
	<script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=default,fetch,Promise&amp;flags=gated"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="/resources/js/app.js"></script>
</head>
<body>

	{{{body}}}

</body>
</html>
